name: Build MTG

env:
  GAPPSV: 'vic'
  GAPPSU: 'upsilon'
  REPO: 'vendor_gapps'

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Get current date
      id: date
      run: |
        echo "current_date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Fetch MTG from gitlab
      run: |
        git clone https://gitlab.com/MindTheGapps/"${{ env.REPO }}" --depth=1 -b "${{ env.GAPPSU }}" "${{ env.REPO }}_${{ env.GAPPSU }}"
        git clone https://gitlab.com/MindTheGapps/"${{ env.REPO }}" --depth=1 -b "${{ env.GAPPSV }}" "${{ env.REPO }}_${{ env.GAPPSV }}"

    - name: Clean up source
      run: |
        APK_PATHS=(
        "arm64/proprietary/product/priv-app/VelvetTitan/VelvetTitan.apk"
        "arm64/proprietary/product/priv-app/Velvet/Velvet.apk"
        "arm64/proprietary/product/app/SpeechServicesByGoogle/SpeechServicesByGoogle.apk"
        "arm64/proprietary/product/app/talkback/talkback.apk"
        "common/proprietary/system_ext/priv-app/GoogleFeedback/GoogleFeedback.apk"
        "common/proprietary/product/priv-app/Wellbeing/Wellbeing.apk"
        "common/proprietary/product/priv-app/GooglePartnerSetup/GooglePartnerSetup.apk"
        )

        for APK_PATH in "${APK_PATHS[@]}"; do
        rm -f "${{ env.REPO }}_${{ env.GAPPSU }}"/$APK_PATH
        rm -f "${{ env.REPO }}_${{ env.GAPPSV }}"/$APK_PATH
        done

    - name: Build Mind The Gapps
      run: |
        echo "Initiate Builds"

        GREEN='\033[0;32m'
        YELLOW='\033[0;33m'
        RESET='\033[0m'

        PGREEN() {
          echo -e "${GREEN}$@${RESET}"
        }
        PYELL() {
          echo -e "${YELLOW}$@${RESET}"
        }
        PYELL Building for UpsideDownCake
        cd "${{ env.REPO }}_${{ env.GAPPSU }}"
        COMMIT_U=$(echo "branch: $(git rev-parse --abbrev-ref HEAD)";git log -1 --format="%s:%h")
        echo "COMMIT_U=${COMMIT_U}" >> $GITHUB_ENV
        make gapps_arm64
        cd -
        PYELL Building for VanillaIceCream
        cd "${{ env.REPO }}_${{ env.GAPPSV }}"
        COMMIT_V=$(echo "branch: $(git rev-parse --abbrev-ref HEAD)";git log -1 --format="%s:%h")
        echo "COMMIT_V=${COMMIT_V}" >> $GITHUB_ENV
        make gapps_arm64
        cd -

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ env.REPO }}_${{ env.GAPPSU }}/out/MindTheGapps-*.zip
          ${{ env.REPO }}_${{ env.GAPPSV }}/out/MindTheGapps-*.zip
        fail_on_unmatched_files: true
        append_body: false
        tag_name: MindTheGapps_${{ env.current_date }}
        name: ${{ env.ZIP_FILE_NAME }}
        token: ${{ secrets.GITHUB_TOKEN }}
        body: |
          ### UpsideDownCake: 
          ${{ env.COMMIT_U }}

          ### VanillaIceCream: 
          ${{ env.COMMIT_V }}


